{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "src": "./src",
          "assets": "./src/assets",
          "domain/firebases": "./src/domains/firebases",
          "domain/usecases": "./src/domains/usecases"
        }
      }
    ]
  ]
}
